body {
    text-align: center;
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 0;
    padding: 0;
}

header, main {
    margin-top: 7.2em;
}

/* ----- Header ----- */
header {
    margin-right: 2.8em;

}

header h1 {
    color: #E4A327;
}

header h2 {
    margin-bottom: 2em;
    color: #757575;
}

header img {
    width: 27.5em;
    height: auto;
    border-radius: 1em;
}

header div {
    background-color: #303030;
    width: 27.5em;
    height: 28em;
    border-radius: 1em;
}

/* ----- Main ----- */
main {
    background-color: #303030;
    padding: 3em;
    border-radius: 1em;
    width: 28em;
    height: 32em;
}

/* ----- Main: startScreen ----- */
main #startScreen h2 {
    margin-top: 10%;
    font-size: 3em;
    font-family: 'Lilita One', sans-serif;
}

main #startScreen p {
    /* width: 28em; */
    text-align: left;
    margin: 0px;
    margin-top: 8.5em;
    font-size: 15px;
    color: #898989;
    font-family: 'Istok Web', sans-serif;

    /* position: absolute;
    bottom: 140px; */
}

main #startScreen #startGame {
    margin-top: 2em;
    padding: 25px 75px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    color: #E4A327;
    font-weight: bold;
    align-items: flex-end;
}

main #startScreen #quit {
    margin-top: 4em;
    background-color: #fff;
    font-weight: bold;
    padding: 1em 2em;
    border: none;
    border-radius: .7em;
    text-decoration: underline;
}

main #startScreen #score h2 {
    margin-left: 6%;
    font-size: 2em;
}


/* ----- Main: score ----- */
main #score {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

main #score div .scoreBoard {
    background-color: #757575;
    border-radius: 10px;
    border: 2px solid #fff;
    /* border-color: #fff; */
    width: 12em;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #score div .scoreBoard p {
    color: #fff;
    margin: 0;
    font-size: x-large;
    font-weight: bold;
}

main #score #player1 h3 {
    color: #fff;
}


/* ----- Main: game ----- */
main #game {
    background-color: #757575;
    border-radius: 10px;
    outline: white;
    width: 28em;
    height: 15em;
    margin-bottom: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



/* ----- Main: actions ----- */
main #actions {
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    
    /* text-align: center; */
}

main #actions .actionBtn {
    padding: 30px 70px;
    border-radius: 5px;
    border: none;
    color: #E4A327;
}

main #actions div #btnRoll1 {
    margin-right: 2.5em;
}

main #actions p {
    color: #fff;
    margin: 0;
    padding: 2.2em 15% 1.5em 15%;
}

/* ----- Footer ----- */
footer {
    position: absolute;
    margin-top: 49em;
}

footer a {
    color: #a7a7a7;
    text-decoration: none;
}